#rooms-container {
    display: flex;
}

.room-item {
    width: 200px;
    height: 200px;
    border: #888888 1px solid;
    margin: 10px;
    padding: 20px;
}

.room-item span {
    display: block;
}

.room-item span:first-child {
    display: block;
}

.room-item span:last-child {
    display: block;

}

.room-item a {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 50px;
}

