#race-container {
    display: flex;
}

.race-item {
    width: 40%;
    border: #888888 1px solid;
    margin: 5%;
    height: 70vh;
}

#racers-container {
    padding: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.user-state-ready {
    background-color: limegreen;
}


.progress-bar-border {
    width: 100%;
    background-color: white;
    border: #888888 1px solid;
}

.progress-bar-container {
    width: 0;
    background: mediumseagreen;
    height: 15px;

}

.progress-bar-full {
    background: lawngreen;
}

#ready-btn {
    height: 39px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 50px;
}

.span-race-completed {
    background: lightgreen;
}

.span-next-char {
    text-decoration: underline;
}

.span-left-text {

}
